Repository personalrobotics/aikido, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brianhou, @egordon, @sniyaz, @gilwoolee, @jslee02

Prep gtest as submodule
  CMakeLists.txt
  tests/CMakeLists.txt
Owners: @egordon

Modify CI to checkout submoules
  .github/workflows/build-test.yml
Owners: @brianhou, @egordon

Summarize changes in CHANGELOG
  CHANGELOG.md
Owners: @brianhou, @egordon

Addressed comments
  .ci/build_docs.sh
  .github/workflows/docs.yml
  CMakeLists.txt
Owners: @egordon, @brianhou

Add Docs deployment (#606)
  .ci/build_docs.sh
  .ci/install_linux_cmake.sh
  .ci/script_catkin.sh
  .ci/script_cmake.sh
  .github/workflows/build-test.yml
  .github/workflows/docs.yml
  CMakeLists.txt
Owners: @egordon, @brianhou

Added batch options to ConcreteRobot's planToTSR
  include/aikido/planner/dart/ConfigurationToTSR.hpp
  include/aikido/robot/ConcreteRobot.hpp
  src/planner/dart/ConfigurationToConfiguration_to_ConfigurationToTSR.cpp
  src/planner/dart/ConfigurationToTSR.cpp
  src/robot/ConcreteRobot.cpp
Owners: @brianhou, @egordon, @gilwoolee, @sniyaz

Updated changelog
  CHANGELOG.md
Owners: @brianhou, @egordon

Remove extra reference to deleted classes, and install new deps for CI
  .ci/install_linux_cmake.sh
  include/aikido/robot.hpp
  python/aikidopy/robot/ConcreteManipulator.cpp
  python/aikidopy/robot/Robot.cpp
  python/aikidopy/robot/module.cpp
Owners: @egordon, @gilwoolee, @sniyaz, @brianhou

Add explicit policy CMP0048 to suppress warnings
  .ci/install_linux_catkin.sh
  .ci/install_linux_cmake.sh
  CMakeLists.txt
  cmake/version.hpp.in
Owners: @egordon

Switch to clang-format-10 with built-in dry-run flag, since old XML generation was buggy
  .ci/install_linux_catkin.sh
  CMakeLists.txt
  cmake/ClangFormat.cmake
  tools/check_format.sh
Owners: @egordon

Ran Make Format w clang-format-10
  include/aikido/common/detail/metaprogramming-impl.hpp
  include/aikido/common/metaprogramming.hpp
  include/aikido/planner/dart/detail/PlannerAdapter-impl.hpp
  src/distance/CartesianProductWeighted.cpp
  src/distance/JointAvoidanceConfigurationRanker.cpp
  src/distance/NominalConfigurationRanker.cpp
  src/distance/SO2Angular.cpp
  src/io/CatkinResourceRetriever.cpp
  src/planner/ConfigurationToConfigurationPlanner.cpp
  src/planner/ConfigurationToConfigurationsPlanner.cpp
  src/planner/dart/ConfigurationToConfigurationPlanner.cpp
  src/planner/dart/ConfigurationToConfiguration_to_ConfigurationToConfiguration.cpp
  src/planner/dart/ConfigurationToConfiguration_to_ConfigurationToConfigurations.cpp
  src/planner/dart/ConfigurationToConfiguration_to_ConfigurationToTSR.cpp
  src/planner/dart/ConfigurationToConfigurationsPlanner.cpp
  src/planner/dart/ConfigurationToEndEffectorOffsetPlanner.cpp
  src/planner/dart/ConfigurationToTSRPlanner.cpp
  src/planner/ompl/MotionValidator.cpp
  src/planner/vectorfield/MoveEndEffectorOffsetVectorField.cpp
  src/planner/vectorfield/MoveEndEffectorPoseVectorField.cpp
  src/planner/vectorfield/VectorFieldConfigurationToEndEffectorOffsetPlanner.cpp
  src/statespace/dart/MetaSkeletonStateSpace.cpp
  src/trajectory/BSpline.cpp
  tests/distance/test_CartesianProductWeighted.cpp
  tests/distance/test_JointAvoidanceConfigurationRanker.cpp
  tests/distance/test_NominalConfigurationRanker.cpp
Owners: @brianhou, @egordon, @sniyaz

Add Debug build and re-enable CODECOV support
  .ci/script_catkin.sh
  .github/workflows/build-test.yml
Owners: @egordon, @brianhou

Update README for Ubuntu Focal
  README.md
Owners: @brianhou, @egordon

Fix malformed workflow file
  .github/workflows/build-test.yml
Owners: @brianhou, @egordon

Add >1 fetch depth to suppress Codecov warning
  .github/workflows/build-test.yml
Owners: @brianhou, @egordon

Split off ROS-specific functions of Robot into subclass, update interface to re-add basic planning functions, and get the whole thing to build
  .ci/install_linux_cmake.sh
  CMakeLists.txt
  include/aikido/robot/Robot.hpp
  include/aikido/robot/detail/ConcreteRobot-impl.hpp
  include/aikido/robot/ros/RosRobot.hpp
  include/aikido/robot/util.hpp
  package.xml
  src/constraint/dart/InverseKinematicsSampleable.cpp
  src/robot/CMakeLists.txt
  src/robot/Robot.cpp
  src/robot/ros/CMakeLists.txt
  src/robot/ros/RosRobot.cpp
Owners: @egordon, @gilwoolee, @sniyaz, @brianhou

No longer globally require urdf and srdfdom, only for robot_ros
  CMakeLists.txt
Owners: @egordon

Explicitly add control as component dependency for robot since we use KinematicSimulationTrajectoryExecutor (and will use others in the future)
  python/aikidopy/CMakeLists.txt
  src/robot/CMakeLists.txt
Owners: @egordon, @gilwoolee, @sniyaz

Update CI and Documentation to Restore Functionality from Travis (#610)
  .ci/install_linux_catkin.sh
  .ci/install_linux_cmake.sh
  .ci/script_catkin.sh
  .github/workflows/build-test.yml
  CMakeLists.txt
  README.md
  cmake/ClangFormat.cmake
  cmake/version.hpp.in
  include/aikido/common/detail/metaprogramming-impl.hpp
  include/aikido/common/metaprogramming.hpp
  include/aikido/planner/dart/detail/PlannerAdapter-impl.hpp
  src/distance/CartesianProductWeighted.cpp
  src/distance/JointAvoidanceConfigurationRanker.cpp
  src/distance/NominalConfigurationRanker.cpp
  src/distance/SO2Angular.cpp
  src/io/CatkinResourceRetriever.cpp
  src/planner/ConfigurationToConfigurationPlanner.cpp
  src/planner/ConfigurationToConfigurationsPlanner.cpp
  src/planner/dart/ConfigurationToConfigurationPlanner.cpp
  src/planner/dart/ConfigurationToConfiguration_to_ConfigurationToConfiguration.cpp
  src/planner/dart/ConfigurationToConfiguration_to_ConfigurationToConfigurations.cpp
  src/planner/dart/ConfigurationToConfiguration_to_ConfigurationToTSR.cpp
  src/planner/dart/ConfigurationToConfigurationsPlanner.cpp
  src/planner/dart/ConfigurationToEndEffectorOffsetPlanner.cpp
  src/planner/dart/ConfigurationToTSRPlanner.cpp
  src/planner/ompl/MotionValidator.cpp
  src/planner/vectorfield/MoveEndEffectorOffsetVectorField.cpp
  src/planner/vectorfield/MoveEndEffectorPoseVectorField.cpp
  src/planner/vectorfield/VectorFieldConfigurationToEndEffectorOffsetPlanner.cpp
  src/statespace/dart/MetaSkeletonStateSpace.cpp
  src/trajectory/BSpline.cpp
  tests/distance/test_CartesianProductWeighted.cpp
  tests/distance/test_JointAvoidanceConfigurationRanker.cpp
  tests/distance/test_NominalConfigurationRanker.cpp
  tools/check_format.sh
Owners: @egordon, @brianhou, @sniyaz

.github/CODEOWNERS:

# AIKIDO
*                                 @brianhou @egordon


# Build tools: GitHub, Continuous Integration, etc.
.ci/*                             @egordon
.github/*                         @egordon
tools/*                           @egordon
.travis.yml                       @egordon
codecov.yml                       @brianhou
CMakeLists.txt                    @egordon
cmake/*                           @egordon


# Perception
include/aikido/perception.hpp     @egordon
include/aikido/perception/*       @egordon
src/perception/*                  @egordon


# Visualization
include/aikido/rviz.hpp           @brianhou
include/aikido/rviz/*             @brianhou
src/rviz/*                        @brianhou


# Planning
include/aikido/statespace.hpp     @sniyaz @brianhou
include/aikido/statespace/*       @sniyaz @brianhou
src/statespace/*                  @sniyaz @brianhou
include/aikido/distance.hpp       @sniyaz
include/aikido/distance/*         @sniyaz
src/distance/*                    @sniyaz
include/aikido/trajectory.hpp     @sniyaz
include/aikido/trajectory/*       @sniyaz
src/trajectory/*                  @sniyaz
include/aikido/constraint.hpp     @sniyaz
include/aikido/constraint/*       @sniyaz
src/constraint/*                  @sniyaz
include/aikido/planner.hpp        @sniyaz
include/aikido/planner/*          @sniyaz
src/planner/*                     @sniyaz
include/aikido/robot.hpp          @gilwoolee @sniyaz
include/aikido/robot/*            @gilwoolee @sniyaz
src/robot/*                       @gilwoolee @sniyaz


# Control
include/aikido/control.hpp        @brianhou
include/aikido/control/*          @brianhou
src/control/*                     @brianhou


# Python bindings
src/python/*                      @gilwoolee @jslee02
